:root{
    --mainColor:#152B2B;
    --secondaryColor:#193734;

    --borderColor:#164D56;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;
    --previewBg:rgb(25,39,52,0.8);
    --preview-shadow:#111921;
    --buttonColor:#17a2b8;
}
